.dropdown {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0px 30px;
  background: #715e8c;
  border: 1px solid #715e8c;
  border-radius: 50px;
  cursor: pointer;

  @media (max-width: 800px) {
    gap: 10px;
  }

  @media (max-width: 400px) {
    padding: 0px 10px;
    font-size: 36px;
  }
}

.wrapper {
  width: 80%;
  margin-bottom: 30px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;
  color: #ffffff;

  @media (max-width: 800px) {
    font-size: 36px;
    line-height: 45px;
  }

  @media (max-width: 400px) {
    font-size: 28px;
  }
}

.cardList {
  display: flex;
  justify-content: center;
}
