.searchBlock {
  height: 100px;
  width: 80%;
  border: 1px solid #715e8c;
  border-radius: 50px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.searchIcon {
  margin-right: 10px;
}
