.input {
  font-size: 30px;
  color: #3a468c;
  border: none;
  height: 100%;
  font-family: "Montserrat";
  width: 100%;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #3a468c;
    font-style: normal;
    font-weight: 400;
  }

  @media (max-width: 800px) {
    font-size: 24px;
  }

  @media (max-width: 400px) {
    font-size: 18px;
  }
}
