.input {
  font-size: 36px;
  color: #3a468c;
  border: none;
  height: 100%;
  font-family: 'Montserrat';
  width: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #3a468c;
    font-style: normal;
    font-weight: 400;
  }
}
