.input {
  width: 400px;
  height: 60px;
  font-size: 24px;
  border-radius: 50px;
  color: black;
  padding: 0 35px;
  font-family: "Montserrat";
  transition: all 0.3s;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}
