.loginHeader {
  color: #715e8c;
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.wrapper {
  padding: 20px;

  @media (max-height: 500px) {
    margin-top: 300px;
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.inputIcon {
  margin-right: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
