.navButton {
  height: 80px;
  border: 1px solid #715e8c;
  border-radius: 0 50px 50px 0;
  font-family: "Neucha";
  font-weight: 400;
  font-size: 36px;
  padding: 25px;
  background: #f2ced1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big {
  padding: 50px;
}
