.cardsBlock {
  width: 80%;
  height: 330px;
  border: 1px solid #715e8c;
  border-radius: 50px;
  position: relative;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px 30px;
}

.animalsImg {
  width: 1000px;
  margin-left: 5%;
  position: absolute;
  z-index: -1;
  bottom: 130px;

  @media (max-width: 1500px) {
    width: 800px;
  }

  @media (max-width: 1200px) {
    width: 600px;
  }

  @media (max-width: 1000px) {
    width: 500px;
    bottom: 200px;
    margin-left: 0;
  }

  @media (max-width: 800px) {
    width: 300px;
    bottom: 270px;
    margin-left: 0;
  }
}

.cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  height: 100%;
}

.over {
  background-color: #eeeeee;
}

.help {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #715e8c;
  background: #715e8c;
  border-radius: 50px;
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  width: 45px;
  height: 45px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    color: #715e8c;
    background: #ffffff;
  }
}

.clear {
  background: #715e8c;
  border-radius: 50px;
  padding: 10px 30px;
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #715e8c;

  &:hover {
    color: #715e8c;
    background: #ffffff;
  }
}

.helpWrapper {
  position: absolute;
  top: -60px;
  right: 50px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.helpClear {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  color: #000000;
  width: 380px;
  position: absolute;
  right: -8%;
  top: 10px;
  animation: show 0.5s ease-in-out;

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
