.card {
  background: #ffffff;
  border: 1px solid #715e8c;
  border-radius: 50px;
  min-width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: grab;
  transition: all 0.3s;

  &:hover {
    background-color: #f9f9f9;
  }

  &:active {
    background-color: #715e8c73;
  }
}

.title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #021373;
}

.drag {
  background-color: #eeeeee;
}

.chosen {
  cursor: pointer;
}
