.sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
  margin-top: 450px;

  @media (max-width: 1100px) {
    margin-top: 300px;
  }

  @media (max-width: 720px) {
    width: 100%;
    padding: 20px;
  }
}

.btnCat {
  position: relative;
  width: 100%;
}

.cat {
  position: absolute;
  z-index: -1;
  top: -300px;
  height: 300px;

  @media (max-width: 400px) {
    height: 200px;
    top: -200px;
  }
}
