.cardsBlock {
  width: 92%;
  height: 325px;
  border: 1px solid #715e8c;
  border-top: none;
  border-radius: 0 0 50px 50px;
  position: relative;
  background-color: white;
  padding: 20px 30px;
  animation: show 0.3s ease-in-out;
  overflow-y: hidden;

  @keyframes show {
    0% {
      max-height: 0;
      padding: 0 30px;
    }
    100% {
      max-height: 400px;
      padding: 20px 30px;
    }
  }

  @media (max-width: 400px) {
    width: 80%;
    height: 280px;
  }
}

.animalsImg {
  width: 70%;
  margin-left: 10%;
  position: absolute;
  z-index: -1;
  bottom: 130px;
}

.cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  height: 100%;
  overflow-y: hidden;
}
