.button {
  min-width: 200px;
  height: 80px;
  border: 1px solid #715e8c;
  border-radius: 50px;
  font-family: "Neucha";
  font-weight: 400;
  font-size: 36px;
  padding: 0 30px;
  background: #ffffff;
  cursor: pointer;
}

.pinkButton {
  background: #f2ced1;
  border: 1px solid #cf8989;
}
