@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Neucha&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
p {
  font-family: "Neucha", cursive;
  font-weight: 400;
  margin: 0;
}
